
.cards{
    margin: 30px 30px;
    padding: 0;
    box-sizing: border-box; 
}

.card1{
    box-shadow: 0 10px 10px 0 rgba(219, 124, 9, 0.2)!important;
    transition: 0.95s;
    border-radius: 20px;
   
    border-style: solid!important;
}
.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .92s!important;
    
  }
